@import url('../../style/variable.less');

.area {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .selectLong {
    width: 220px;
  }
}

.area2 {
  margin-top: 30px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.between {
  margin-top: 15px;
  margin-bottom: 20px;
}
