@import url('../../style/variable.less');

.area {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .select {
    width: 220px;
    margin-top: 15px;
  }

  .input {
    width: 220px;
    margin-top: 15px;
  }

  .btn {
    width: 60px;
    height: 32px;
    margin-top: 15px;
  }

  .resetCondition {
    width: 150;
    height: 32px;
    margin-top: 15px;
  }
}

.between {
  margin-top: 15px;
  margin-bottom: 20px;
}
