@import url('../../style/variable.less');

.uploadArea {
  margin-left: 120px;
  margin-top: 60px;
  height: 200px;
  width: 600px;
  display: flex;
  align-items: center; // 放到父元素中间
  justify-content: space-between;

  .btn {
    margin-left: 20px;
  }
}

.steps {
  margin-top: 50px;
  margin-left: 50px;
  width: 70%;
  height: 100px;
}
